* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url("https://wallpapercave.com/wp/wp3264682.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;        
    max-width: 100%;     
    margin: 0 auto;  
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Game Mode Section */
.game-options {
    margin-bottom: 20px;
}

.game-options label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
}

.game-options select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.player-inputs {
    margin-bottom: 20px;
}

.player-inputs div {
    margin-bottom: 10px;
}

.player-inputs label {
    font-size: 16px;
    color: #555;
}

.player-inputs input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.action-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    display: block; 
    transition: background-color 0.3s;
}


.btn:hover {
    background-color: #45a049;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100%;
    height: 100px;
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .container {
        width: 100%;     
        padding: 15px;  
    }

    .title {
        font-size: 22px;
    }

    .game-options select,
    .player-inputs input {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }
}
